<%= form_tag '/top/login', method: :post do %>
 <%= label_tag :uid, 'ユーザーID' %>
 <%= text_field_tag :uid %>
 <%= label_tag :pass, 'パスワード' %>
 <%= password_field_tag :pass %>
 <%= submit_tag 'ログイン' %>
 <br><br>
<%= link_to 'アカウント作成', 'top/new' %>
<% end %>